CWNew/force-app/main/default/flows/CW_Create_Trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Trip</name>
        <label>Create Trip</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>CW_CreateTripRecordsBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>layoutJSON</name>
            <value>
                <elementReference>Get_Route_Record.CW_Vehicle__r.CW_Vehicle_Layout__r.CW_Layout_JSON__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>route</name>
            <value>
                <elementReference>Get_Route_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelDate</name>
            <value>
                <elementReference>Trip_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CW_CreateTripRecordsBatch</nameSegment>
        <outputParameters>
            <assignToReference>result</assignToReference>
            <name>result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_If_Trip_Runs_on_that_day</name>
        <label>Check If Trip Runs on that day</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ValidTravelDayErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Route_Record.CW_Runs_On__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>travelDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>travelDay</name>
        <dataType>String</dataType>
        <expression>CASE(WEEKDAY({!Trip_Date}),1 ,&apos;Sunday&apos;, 2,&apos;Monday&apos;,3,&apos;Tuesday&apos;,4,&apos;Wednesday&apos;,5,&apos;Thursday&apos;,6,&apos;Friday&apos;,7,&apos;Saturday&apos;,&apos;None&apos;)</expression>
    </formulas>
    <interviewLabel>Create Trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Trip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Route_Record</name>
        <label>Get Route Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Trip_Runs_on_that_day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CW_Route__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Trip_Date</name>
        <label>Select Trip Date</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Route_Record</targetReference>
        </connector>
        <fields>
            <name>Trip_Date</name>
            <dataType>Date</dataType>
            <fieldText>Trip Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Result</name>
        <label>Show Result</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowResultText</name>
            <fieldText>&lt;p&gt;{!result}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidTravelDayErrorScreen</name>
        <label>ValidTravelDayErrorScreen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidTravelDayCheck</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Trip only runs on {!Get_Route_Record.CW_Runs_On__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select a valid travel date&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Trip_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
